.form-section {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.3) 0px 2px 16px 0px;
  background-color: rgb(9, 21, 62);
  border-radius: 20px 0px 0px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form {
  text-align: center;
}
.input-text {
  padding: 0.3rem;
  outline: none;
  border: none;
  margin: 1rem;
  width: 75%;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 21, 62);
}
.input-text::placeholder {
  color: rgb(255, 255, 255, 0.6);
}
.main-temp-text-container {
  text-align: center;
  font-size: 2.5rem;
}
.temp-text {
  font-size: 5rem;
}
.temp-text-container {
  text-align: center;
}
.weather-icons {
  text-align: center;

}
.weather-desc-container {
  text-align: center;
}
.form-field-not-applicable-icon {
  color: #fff !important;
}
.date-time-container {
  text-align: center;

}
