.form-container {
  margin: 20px 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.input-text {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1rem;
  min-width: 100%;
}
.form-section {
  width: 30%;
}
