.hourly-forecast-card-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  gap: 1rem;
  padding: 1rem 5rem;
}
.hourly-forecast-title {
  padding: 1.1rem;
}
.max-temp,
.min-temp {
  padding: 2px;
}
.min-temp {
  color: grey;
}
.hourly-forecast-datetime {
  margin: 10px;
  display: inline-block;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .hourly-forecast-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
    justify-content: center;
  }
  .hourly-forecast-title {
    text-align: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
   .hourly-forecast-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
    justify-content: center;
  }
  .hourly-forecast-title {
    text-align: center;
  }
}