@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.info-field-container {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
}
