@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.App {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  padding: 10rem;
  font-family: "Nunito", sans-serif;
}
