.main-info-container {
  background-color: rgb(9, 21, 62);
  border-radius: 20px 20px 0px 0px;
  color: white;
}
.main-temp-text-container {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp-text {
  font-size: 5rem;
}
.date-time {
  font-size: 3rem;
}
.weather-icon-temp-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.country-code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 10px 0 10px 0;
}
.date-time {
  display: flex;
  justify-content: center;
  align-items: center;
}
